# Development
tests/.vim
compile_commands.json
*.cmake
*cache*
CMakeCache.txt
CMakeFiles
.clangd
*.ast

# Dumps
*.log

# Generated sources
lexer.cpp
parser.cpp
parser.hpp

# Binaries
*.o
parser
*.bak
sood
